@import '~bootstrap/scss/bootstrap';

body {
    background-image: url("./png/fitness.png");
    // background-repeat: no-repeat;
    // background-position: center;
    background: #556;
    width: 400px;
    height: 400px;
    border: 2px dashed #333;
}


form {
  width: 300px;


}

input {
  width: 100%;
}

::placeholder {
  color: red;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
  opacity: 1;
}

::-ms-input-placeholder {
  color: red;
  opacity: 1;
}
